In [ ]:
x = [1,2,3,4,5,6]
print(x)

[1, 2, 3, 4, 5, 6]

In [ ]:
for x in [1,2,3,4]:
  print(x)
print(x+x)

1
2
3
4
8

In [ ]:
x = 7
if x%7==0:
  print(x,"는 7의 배수입니다.")

7 는 7의 배수입니다.

In [ ]:
for x in range(10):
  print(x)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for x in range(1,101):
  if x%7==0:
    print(x,"는 7의 배수입니다.")

7 는 7의 배수입니다.
14 는 7의 배수입니다.
21 는 7의 배수입니다.
28 는 7의 배수입니다.
35 는 7의 배수입니다.
42 는 7의 배수입니다.
49 는 7의 배수입니다.
56 는 7의 배수입니다.
63 는 7의 배수입니다.
70 는 7의 배수입니다.
77 는 7의 배수입니다.
84 는 7의 배수입니다.
91 는 7의 배수입니다.
98 는 7의 배수입니다.

In [ ]:
x = round((50 + 45 + 33 + 39 + 29 + 30) / 6, 1)
print(x)

37.7

In [ ]:
import math
math.ceil(567/7)
#math.floor(567/7)

81

In [ ]:
c = 29
f = (c - 32) * 5 / 9
#print(f)
print(f"섭씨 {c} 도는 화씨 {f:.2f} 도입니다.")

섭씨 29 도는 화씨 -1.67 도입니다.

In [ ]:
for i in range(2,20):
  for j in range(2,20):
    print(f"{i}X{j}={i*j}")

In [ ]:
a = input('떡볶이는 몇 그릇 팔았나요?')
b = input('라면은 몇 그릇 팔았나요?')
c = input('튀김은 몇 개 팔았나요?')
print('-----<오늘의 매출 정산>-----')
print('떡볶이의 매출: %d원' %(int(a) * 2000))
print('라면의 매출: %d원' %(int(b) * 3000))
print('튀김의 매출: %d원' %(int(c) * 500))
print('오늘의 총 매출은 %d원입니다' %(int(a)*2000 + int(b)*3000 + int(c)*500))

떡볶이는 몇 그릇 팔았나요?43
라면은 몇 그릇 팔았나요?62
튀김은 몇 개 팔았나요?89
-----<오늘의 매출 정산>-----
떡볶이의 매출: 86000원
라면의 매출: 186000원
튀김의 매출: 44500원
오늘의 총 매출은 316500원입니다

In [ ]:
money = input('투입한 돈은?')
a = input('1구간 표의 수는?')
b = input('2구간 표의 수는?')
change = int(money) - (int(a)*1300 + int(b)*1500)
print('잔돈: %d 원' %int(change))
print('1000원 지폐: %d 장' %(change // 1000))
print('100원 동전: %d 개' %(change % 1000 // 100))

투입한 돈은?10000
1구간 표의 수는?3
2구간 표의 수는?1
잔돈: 4600 원
1000원 지폐: 4 장
100원 동전: 6 개

In [ ]:
def service_price():
  i = input('서비스 종류를 입력하세요, a/b/c:')
  if i=='a':
    i = 23
  if i=='b':
    i = 40
  if i=='c':
    i = 67
  j = input('부사게를 포함합니까? y/n:')
  if j=='y':
    i *= 1.1
  print(f"{i}만 원입니다")
service_price()

서비스 종류를 입력하세요, a/b/c:c
부사게를 포함합니까? y/n:n
67만 원입니다

In [ ]:
print(14 % 4)

2

In [ ]:
round(1.12345, 2)

1.12

In [ ]:
a = input('나이를 입력하세요: ')
print(40 - int(a))

나이를 입력하세요: 38
2

In [ ]:
plus = lambda x, y : x + y
print(plus(34,54))

88

In [ ]:
def mean(a,b):
  return (a + b) / 2

print(mean(33,22))
print(45 + mean(33,22))

27.5
72.5

In [ ]:
b = [1,2,3,10,11,12]
for i in b:
  if i < 10:
    print(i)
  else:
    print(i-10)

1
2
3
0
1
2